// variables: 
$body-bg: linear-gradient(45deg, #f200ff 0%, #ffba42 100%);
$input-border:  0 0 1px;
$error-color: red;
$input-border: lightgrey;

//scss
.signup-page{
    height: fit-content;
    width: 100vw;
    background: $body-bg;
}
input{
    width: 100%;
    outline: 0;
    border-width: 0 0 1px;
    border-color: $input-border;
    &:focus{
        border-color: black;
    }
    &::placeholder{
        font-size: small;
        font-weight: lighter;
    }
    &.error{
        border-color: $error-color;
    }
}

@mixin button-bg($bg) {
    background: $bg;
    &:hover {
      background:darken($bg,16%);
      transition: all 0.45s ease;
    }
    &:active {
      background:darken($bg,25%);
    } 
  }
.btn{
    @include button-bg(#ffba42);
}
.password-trigger{
    position: absolute;
    top: 50%;
    right: .5rem;
    margin-right: 45px;
    z-index: 9999;
    user-select: none;
    &:hover{
        cursor: pointer;
    }
}
.signup-form-wrapper{
    border-radius: 20px;
    box-shadow: 0 15px 16.83px 0.17px rgba(0,0,0,.1);
}
.errorMessage {
    color: $error-color;
    font-size: xx-small;
  }

@media screen and (min-width: 1367px){
    .signup-page{
        height: 100vh;
    }
    
}